doctype html
html(data-ng-app="noerd.Tingstrom.Web", lang="da")
	head
		title Tingstrøm
		meta(charset="UTF-8")
		//meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1 user-scalable=no")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(rel='stylesheet', href='/css/main.css')
		//link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Montserrat:400,700')

		link(type="text/css", rel="stylesheet", href="http://fast.fonts.net/cssapi/026a1b64-c6a9-4e99-89b9-c5fffea6576c.css")

		// Main app js
		script(src="/assets/bower_components/angular/angular.js")
		//script(src="/assets/bower_components/angular-sanitize/angular-sanitize.js")
		script(src="/assets/bower_components/angular-cookies/angular-cookies.js")
		//script(src="/assets/bower_components/ng-file-upload/angular-file-upload.js")
		//script(src="/assets/bower_components/ng-html-compile/src/ngHtmlCompile.js")
		//script(src="/assets/bower_components/ng-html-compile/src/ngHtmlCompile.js")

		block head
		// Fonts

	body.tingstrom(data-ng-controller="MainCtrl as main")


		block body

		block glovalVars


		header.tingstrom__header(data-ng-class="{'tingstrom__header--collapse': main.states.collapseHeader}")
			a.tingstrom__logo
			div.tingstrom__primnav
				a Services
				a Om os
				a Kunder
				a Nyheder
				a Inspiration
				a Kontakt

		div.tingstrom__border


		block content



		footer.container-fluid
			div.tingstrom__footer
				img(src="http://placehold.it/100x100")
				img(src="http://placehold.it/100x100")
				img(src="http://placehold.it/100x100")
				img(src="http://placehold.it/100x100")
				img(src="http://placehold.it/100x100")
				img(src="http://placehold.it/100x100")
				img(src="http://placehold.it/100x100")
				img(src="http://placehold.it/100x100")



		script(src="/assets/scripts/app.js")
		script(src="/assets/scripts/controllers/main.controller.js")
		//script(src="/assets/scripts/directives/map.directive.js")
		//script(src="/assets/scripts/directives/validfile.directive.js")
