- var bodyStyle = "margin:0; height: 100%; width: 100%; background-color:hotpink; color:#474747";

- var tableBase ='width="100%", cellspacing="0", cellpadding="0", border="0';
- var tableStyle = 'font-family: Verdana, Arial, Helvetica, sans-serif;'





doctype transitional
html
    head
        meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
        title=Urtekram
        block head
        style.
            html, body {
                #{bodyStyle}
            }

            img {
                display: block;
                margin: 0;
                border: none;
            }

            a {
                border: none;
            }

            p {
                font-size: 12px;
            }

            h1, h2, h3, h4 {
                font-size: 18px;
            }

            h1, h2, h3, h4, p {
                margin-top: 0;
                font-weight: normal;
            }

            td {
                font-family: Verdana, Arial, Helvetica, sans-serif;
            }


    body(style="#{bodyStyle}")
        table(width="100%", cellspacing="0", cellpadding="0", border="0", bgcolor="red", style="color:#474747; font-family:Verdana,Arial,Helvetica,sans-serif;")
            tbody
                tr
                    td(height="50")
                tr
                    td
                        table(width="640", align="center", cellspacing="0", cellpadding="0", border="0", style="color:#474747; font-family:Verdana,Arial,Helvetica,sans-serif;")
                            tbody
                                tr
                                    td(width="20", height="100%")
                                    td
                                        table(width="600", cellspacing="0", cellpadding="0", border="0", bgcolor="white")
                                            tbody
                                                tr
                                                    td Header
                                                tr
                                                    td Content
                                                tr
                                                    td Footer
                                    td(width="20", height="100%")
                tr
                    td(height="50")


    //body
        table(width="100%", cellspacing="0", cellpadding="0", border="0")
            tbody
                // upperHeader

                tr
                    td(bgcolor="#030303", width="100%")
                        block footerContent
                // footer
                tr
                    td(width="100%", height="11", style="background-image:url(img/graphic_footer_bg_transition.png); background-repeat:repeat-x; background-color: #C6AC89;")
                tr
                    td(bgcolor="#232223", width="100%", style="font-size: 10px; color: #fff; background-image:url(img/graphic_footer_bg.jpg); background-position: center top; background-size:100% 100%; background-color:#232223;")
                        table(width="680", align="center", cellspacing="0", cellpadding="0", border="0")
                            tbody
                                tr
                                    td(width="20", height="100%")
                                    td(width="640")
                                        table(width="640", align="center", cellspacing="0", cellpadding="0", border="0")
                                            tbody

                                    td(width="20", height="100%")
