
extends ../master

block append head

block append body

block append content

	section.container-fluid
		div.ratio.ratio--3-1
			div.cta.cta--align-left.cta--dark(style="background-image:url('/images/content/splash1.jpg')")
				div.rte
					p Uden mad og drikke duer medarbejderen ikke!


	section.container-fluid
		div.cta.cta--wall
			div.rte
				h2 Velkommen hos Claus Tingstrøm A/S
				p Med Claus Tingstrøm A/S som samarbejdspartner kan jeres kantine udvikle sig i takt med virksomheden. Vores økonomistyring er præcis og vi holder vores aftaler – også dét, der står mellem linjerne!
				p Venlig hilsen Claus Tingstrøm, Adm. direktør
				img(src="/images/content/signature.png")

	section.container-fluid
		div.cta.cta--dark(style="background-image:url('/images/content/splash2.jpg')")
			div.rte
				h2 Bon Appétit til ORBICON
				p Vi er stolte af at kunne byde ORBICON velbekommen som ny kunde hos Tingstrøm. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod 3000 ansatte dagligt tempor incididunt ut labore et dolore magna aliqua.
				a.btn.btn--white Se mere


	section.container-fluid
		div.row
			div.col-md-6
				div.cta.cta--peach
					div.rte
						h2 Tingstrøm klarer ærterne
						p Tingstrøm sørger for alt din virksomhed skal bruge for at sikre dine medarbejdere et sundt og nærende måltid. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
						a.btn.btn--white Se mere
			div.col-md-6
				div.cta(style="background-image:url('/images/content/box1.jpg')")


	section.container-fluid
		div.cta.cta--wall
			div.rte
				h2 Hej Tingstrøm
				p
					| Mit navn er indtast dit navn og
					br
					| jeg vil gerne vælg emne
				a.btn ->


	section.container-fluid
		div.row
			div.col-md-6
				div.cta.cta--coral
					div.rte
						h2 Hvad vil I ha’ at spise?
						p Kunders behov er forskellige, så det er menuerne også. I alle tilfælde garanterer vi et sundt og varieret måltid med lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
						a.btn.btn--white Se eksempler
			div.col-md-6
				div.cta(style="background-image:url('/images/content/box2.jpg')")


	section.container-fluid
		div.cta.cta--wall
			div.col-md-12
				div.rte
					h2 Endelig har vi fået en cateringløsning der både lorem ipsum dolor sit amet økonomi, consectetur adipisicing elit, sed do glade maver incididunt ut labore et dolore magna aliqua.
					p Martin Withus, Adm. direktør, NöRD ApS


	section.container-fluid
		div.row
			div.col-md-6
				div.cta(style="background-image:url('/images/content/box3.jpg')")
			div.col-md-6
				div.cta.cta--peach
					div.rte
						h2 Mad med holdning
						p Lorem ipsum dolor sit bæredygtig amet, consectetur adipisicing økologisk elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud samfundsansvar exercitation.
						a.btn.btn--white Se vores kodekser


	section.container-fluid
		div.cta.cta--align-left(style="background-image:url('/images/content/pattern-02.jpg')")
			div.row
				div.col-md-6
					div.cta
						div.rte
							h2 Lad os hjælpe jer
							p Hvis I vil give jeres kantineløsning et grundigt eftersyn, så ring eller skriv. Det koster ingenting - bortset fra en kop kaffe. Vi tager naturligvis hjemmebagte småkager med!
							a.btn Kontakt Tingstrøm
